Flask==2.1.0
gunicorn==20.1.0
requests==2.23.*
flask-restx==0.5.1
flask_cors==3.0.*
python-dotenv==0.12.0
Flask-SQLAlchemy==2.5.1
SQLAlchemy==1.4.37
pillow==9.5.0
celery==4.4.7
redis==3.5.3
pyttsx3==2.90
flask-migrate==2.5.3
itsdangerous==2.0.1
certifi
werkzeug==2.1.2
gtts==2.2.4