Flask==1.1.1
gunicorn>=19.5.0
requests==2.23.*
flask-restx==0.2.0
certifi==2019.11.28
werkzeug==0.16.1
flask_cors==3.0.*
python-dotenv==0.12.0
flask-sqlalchemy==2.4.4
pillow==7.2.0
celery==4.4.7
redis==3.5.3
